name: Deploy Frontend to Somee

on:
  push:
    branches:
      - main
      - master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v3

    - name: Deploy Frontend via FTP
      uses: SamKirkland/FTP-Deploy-Action@4.3.0
      with:
        server: dh52201328.somee.com
        username: quyh2ok
        password: Quyh2ttt@
        local-dir: ./frontend       # nội dung trong frontend
        server-dir: /www.dh52201328.somee.com/   # upload trực tiếp vào root
        protocol: ftp
        port: 21
        dry-run: false
